<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServerContext" connectionString="
         server=looool;
         user id=admin;
         password=Baesystems2016;
         persistsecurityinfo=True;
         database=data"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>